.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.criteria-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.criteria-group input {
  border-radius: 6px;
  padding: 0px 10px;
  font-size: 16px;
  padding: 5px;
  border: none;
}

.criteria-group select {
  border-radius: 6px;
  padding: 0px 10px;
  font-size: 16px;
  padding: 5px;
  border: none;
}

.criteria-group button {
  align-self: stretch;
  padding: 0px 10px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  background-color: green;
}

.criteria-group button:hover {
  background-color: darkgreen;
}
