.content {
  width: 100%;
  min-height: 100vh;
  justify-self: center;
  color: #f0f0f0;

  background-color: #2a292d;
}

.container {
  width: 900px;
  padding: 50px 0px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hr {
  border: none;
  border-top: 23px solid #653ed7;
}

.error-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-top: 2px solid red;
  padding: 10px;
  background-color: #ffe6e6;
  color: red;
  margin-top: 20px;
}

.error-container button {
  background-color: red;
  color: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
